<%= form_for(@entry) do |f| %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Tiêu đề" %>
    <%= f.text_area :content, placeholder: "Bài đăng" %>
  </div>
  <%= f.submit "Lưu", class: "btn btn-primary" %>
<% end %>
